[user]
	name = Compilenix
	email = Compilenix@compilenix.org
[alias]
	s = status
	f = fetch
	a = add
	b = branch
	co = checkout
	cb = checkout -b
	d = diff
	l = log --oneline --graph --decorate --all
