#[user]
#	name = Compilenix
#	email = Compilenix@compilenix.org
[alias]
    s = status
    c = config
    cl = config -l
    ce = config -e
    f = fetch
    a = add
    aa = add -A
    b = branch
    d = diff
    dr = diff origin/master
    l = log --oneline --graph --decorate --all
    la = log --graph --decorate --all
[push]
    default = matching
#[core]
#    fileMode = false
[oh-my-zsh]
    hide-status = 1
[include]
    path = ~/.gitconfig_include

# vim: sw=4 et
