#[user]
#	name = Compilenix
#	email = Compilenix@compilenix.org
[alias]
	s = status
	cnf = config -l
	f = fetch
	a = add
	b = branch
	d = diff
	l = log --oneline --graph --decorate --all
	la = log --graph --decorate --all
[push]
	default = matching
[include]
	path = ~/.gitconfig_include

